<h3>Child Components</h3>
<section>
  <app-user />
</section>

<h3>Control Flow if</h3>
<section>
  @if (isLoggedIn) {
    <p>Welcome back, Friend!</p>
  }
</section>

<h3>Control Flow if - else</h3>
<section>
  @if (isServerRunning) {
    Yes, the server is running
  }
  @else {
    No, the server is not running
  }
</section>

<h3>Control Flow for</h3>
<section>
  @for (os of operatingSystems; track os.id) {
    {{os.name}}
  }
</section>
<section>
  @for (user of users; track user.id) {
    <p>{{user.name}}</p>
  }
</section>

<h3>Property binding</h3>
<div [contentEditable]="isEditable"></div>

<h3>Events</h3>
<section (mouseover)="onMouseOver()">
  {{message}}
</section>